comdeeds/Service References/QueryNameService/ExternalQueryNameAvailabilityPortV28.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:fss.types="uri:fss.types.asic.gov.au" xmlns:types="uri:types.asic.gov.au" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:business.document.header.types="uri:business.document.header.types.asic.gov.au" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="uri:business.document.header.types.asic.gov.au" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ExternalQueryNameAvailabilityPortV2.xsd3.xsd" namespace="uri:types.asic.gov.au" />
  <xs:import schemaLocation="ExternalQueryNameAvailabilityPortV2.xsd9.xsd" namespace="uri:fss.types.asic.gov.au" />
  <xs:import schemaLocation="ExternalQueryNameAvailabilityPortV2.xsd10.xsd" namespace="http://www.w3.org/2005/05/xmlmime" />
  <xs:complexType name="businessDocumentRequestHeaderType">
    <xs:sequence>
      <xs:element name="messageType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="messageReferenceNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="asicReferenceNumber" type="types:referenceNoType" />
      <xs:element name="messageVersion" type="xs:long" />
      <xs:element name="senderId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="senderType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="softwareInformation" type="business.document.header.types:softwareInformationType" />
      <xs:element minOccurs="0" name="messageTimestamps" type="business.document.header.types:messageTimestampsType" />
      <xs:element minOccurs="0" name="attachments" type="business.document.header.types:attachmentsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="businessDocumentHeaderType">
    <xs:sequence>
      <xs:element name="messageType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="messageReferenceNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="asicReferenceNumber" type="xs:string" />
      <xs:element name="messageVersion" type="xs:long" />
      <xs:element name="senderId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="senderType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="softwareInformation" type="business.document.header.types:softwareInformationType" />
      <xs:element minOccurs="0" name="messageTimestamps" type="business.document.header.types:messageTimestampsType" />
      <xs:element minOccurs="0" name="messageEvents" type="business.document.header.types:messageEventsType" />
      <xs:element minOccurs="0" name="result" type="business.document.header.types:genericResultType" />
      <xs:element minOccurs="0" name="attachments" type="business.document.header.types:attachmentsType" />
      <xs:element minOccurs="0" name="receipt" type="fss.types:receiptType" />
      <xs:element minOccurs="0" name="asicTransactionNumber" type="xs:string" />
      <xs:element minOccurs="0" name="transactionReferenceNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="processMode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
            <xs:enumeration value="VALIDATE" />
            <xs:enumeration value="PROCESS" />
            <xs:enumeration value="PEND" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attachmentsType">
    <xs:sequence>
      <xs:element maxOccurs="10" name="attachment" type="business.document.header.types:attachmentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attachmentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="documentType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element xmime:expectedContentTypes="application/pdf" minOccurs="0" name="binaryObject" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="documentNumber" type="types:documentNoType" />
      <xs:element minOccurs="0" name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="200" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="description">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="500" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="URL" type="xs:anyURI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="softwareInformationType">
    <xs:sequence>
      <xs:element name="organisationalName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="productName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="productVersion">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="messageEventType">
    <xs:sequence>
      <xs:element name="errorCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="serverityCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="description">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1000" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="locationPath">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1000" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="10" name="details">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1000" />
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="messageTimestampsType">
    <xs:sequence>
      <xs:element maxOccurs="10" name="messageTimestamp" type="business.document.header.types:messageTimestampType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="messageTimestampType">
    <xs:sequence>
      <xs:element name="timestamp" type="xs:dateTime" />
      <xs:element name="source">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="messageEventsType">
    <xs:sequence>
      <xs:element maxOccurs="100" name="messageEvent" type="business.document.header.types:messageEventType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="genericResultType">
    <xs:choice>
      <xs:element name="accepted" type="types:trueType" />
      <xs:element name="rejected" type="types:trueType" />
      <xs:element name="delayed" type="types:trueType" />
      <xs:element name="fault" type="types:trueType" />
    </xs:choice>
  </xs:complexType>
  <xs:element name="businessDocumentRequestHeader" type="business.document.header.types:businessDocumentRequestHeaderType" />
  <xs:element name="businessDocumentHeader" type="business.document.header.types:businessDocumentHeaderType" />
</xs:schema>